<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Loopple/loopple-public-assets@main/motion-tailwind/motion-tailwind.css">
    <style>
        /* Center the content vertically and horizontally */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        /* Style for the container div */
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center; /* Center the contents horizontally */
        }
        /* Style for the title */
        .donations-title {
            margin-bottom: 8px; /* Adjust margin-bottom as needed */
            font-size: 4rem; /* Adjust font size as needed */
            font-weight: 800; /* Adjust font weight as needed */
            line-height: 1.1; /* Adjust line height as needed */
            color: #84CC16; /* Adjust color as needed */
        }
        /* Style for the image */
        img {
            max-width: 30%; /* Adjust the width of the image as needed */
            max-height: 30%; /* Adjust the height of the image as needed */
            margin-top: 20px; /* Add margin to the top of the image */
        }
        p {
            margin-bottom: 8px; /* Adjust margin-bottom as needed */
            font-size: 2rem; /* Adjust font size as needed */
            font-weight: 800; /* Adjust font weight as needed */
            line-height: 1.1; /* Adjust line height as needed */
            color: #84CC16; /* Adjust color as needed */
        }
        .text {
            margin-bottom: 8px; /* Adjust margin-bottom as needed */
            font-size: 1rem; /* Adjust font size as needed */
            font-weight: 800; /* Adjust font weight as needed */
            line-height: 1.1; /* Adjust line height as needed */
            color: #84CC16; /* Adjust color as needed */
        }
    </style>
</head>
<body>
    <div class="content">
        <h1 class="donations-title">Donations</h1>
        <!-- You can add additional content here -->
        <img src="https://qr-codes-svg.s3.amazonaws.com/FHN4oz.svg?1714162265631" alt="QR code for Donations">
        <p class=".text">Your donations are what help us take care of all our little animals until they can be adopted. Support us in our goal of continuing to save animals and being able to find them a new family.</p>
    </div>
</body>
</html>