<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        .form-container {
            margin: 50px auto;
            width: 300px;
            text-align: center;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .submit-btn {
            padding: 10px 20px;
            background-color: #06aa0e;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        .redirect-btn {
            padding: 10px 20px;
            background-color: #06aa0e;
            color: #fff;
            border: none;
            cursor: pointer;
            margin-top: 20px; /* Adjust margin top to position button lower */
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h2>Forgot Password</h2>
        <form id="forgotPasswordForm">
            <div class="form-group">
                <label for="email">Enter your email:</label>
                <input type="email" name="email" id="email" placeholder="Email..." required>
            </div>
            <button type="submit" class="submit-btn">Send Temporary Password</button>
        </form>
        <button class="redirect-btn" onclick="redirect()">Already have a code? Click here</button>
    </div>

    <script>
        function displayPopup(message) {
            alert(message);
        }
    
        function redirect() {
            window.location.href = "/verifyTemporaryPassword";
        }
    
        document.getElementById('forgotPasswordForm').addEventListener('submit', async function(event) {
            event.preventDefault();
    
            const formData = {
                email: document.getElementById('email').value,
            };
    
            try {
                const response = await fetch('/forgotPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formData),
                });
    
                const data = await response.json();
    
                if (data === "Email sent successfully") {
                    displayPopup(data);
                    this.reset(); // Reset the input field
                    redirect(); // Redirect to verifyTemporaryPassword page
                } else {
                    displayPopup(data);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
