<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="form-container">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" id="name" name="username" placeholder="Enter your username" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="password" required>
            </div>
            <button type="submit" class="submit-btn">Signup</button>
        </form>
    </div>
</body>
</html>